<table class="ui table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Readings</th>
    </tr>
  </thead>
  <tbody>
    {{#each station.readings}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{readings}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>